{% include 'header.html' %}

<div class="container-sm text-center">
    <h1 id="add-h1" class="mb-5 staff-form">Edit Student Details</h1>

    <form action="" method="POST" class="form-width">
        <div class="col">
            <div class="row add-row" id="student_id">
                {{ form.hidden_tag() }}
                {{ form.student_id(value = data.student_id, disabled = True, class = "form-control add-input", placeholder = "Student Roll Number") }}
            </div>
            <div class="row add-row">
                {{ form.first_name(value = data.first_name, class = "form-control add-input", placeholder = "First
                Name") }}
            </div>
            <div class="row add-row">
                {{ form.last_name(value = data.last_name, class = "form-control add-input", placeholder = "Last Name")
                }}
            </div>
            <div class="row add-row">
                {{ form.dob(value = data.date_of_birth, style = "color:#8a1c7c;", class = "form-control add-input", id =
                "datepicker", placeholder =
                "Date of Birth") }}
            </div>
            <div class="row add-row">
                {{ form.section(value = data.section, class = "form-control add-input", placeholder = "Section") }}
            </div>
            <div class="row add-row">
                {{ form.add_details(class = "btn get-btn add-btn", value = "Save Changes") }}
            </div>
            {% if err %}
            <div class="row add-row mt-4">
                <h5>{{ err }}</h5>
            </div>
            {% endif %}
            {% if logged_in %}
            <div class="row add-row mt-4">
                <a href="{{ url_for('logout') }}">
                    <h5>Logout</h5>
                </a>
            </div>
            {% endif %}
        </div>
    </form>
</div>
<script>
    $(function () {
        $("#datepicker").datepicker({
            format: "d-m-yyyy",
            autoclose: true,
            todayHighlight: true,
        });
    });
</script>
</body>

</html>