{% include 'header.html' %}

<div class="home-div container">
    <h1 class="index-h1">
        Students Data By Section Wise
    </h1>
    <form action="" method="POST">
        <div class="row">
            <div class="col-auto roll-form">
                {{ form.hidden_tag() }}
                {{ form.sections(class = "form-select roll-input") }}
            </div>
            <div class="col-auto" style="margin-top: 4%;">
                {{ form.submit(class = "btn get-btn btn-outline-success") }}
            </div>
        </div>
    </form>

    {% if err %}
    <h5 class="mt-5 mb-5">{{ err }}</h5>
    {% endif %}
</div>

{% if data %}
<div class="container-sm attendance">
    <form action="" method="POST">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student ID</th>
                    <th scope="col">Name</th>
                    {% if logged_in %}
                    <th scope="col">Operations</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for student in range(data|length) %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a style="color: #8a1c7c;"
                            href="{{url_for('get_details', roll_num = data[student].student_id)}}">
                            {{data[student].student_id}}
                        </a>
                    </td>
                    <td>{{ data[student].first_name + " " + data[student].last_name }}</td>
                    {% if logged_in %}
                    <td class="row">
                        <a class="col-auto" href="{{url_for('edit', roll_no = data[student].student_id)}}"
                            style=" color: #8a1c7c;">Edit</a>
                        <p class="col-auto">|</p>
                        <a style=" color: #8a1c7c;" onclick="refresh()" class="col-auto" href="{{url_for('delete', roll_no = data[student].student_id)}}">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endif %}

<script>
    function refresh() {
        location.reload();
    }
</script>
</body>

</html>