{% include 'header.html' %}

<div class="home-div container">
    <h1 class="index-h1">
        Attendance by Section
    </h1>
    <form action="" method="POST">
        <div class="row">
            <div class="col-auto roll-form">
                {{ form.hidden_tag() }}
                {{ form.sections(class = "form-select roll-input") }}
            </div>
            <div class="col-auto" style="margin-top: 4%; width:20vh;">
                {{ form.date(style = "color:#8a1c7c;", class = "form-control add-input", id = "datepicker", placeholder
                =
                "Date of Attendance") }}
            </div>
            <div class="col-auto" style="margin-top: 4%;">
                {{ form.submit(class = "btn get-btn btn-outline-success") }}
            </div>
        </div>
    </form>

    {% if err %}
    <h5 class="mt-5 mb-5">{{ err }}</h5>
    {% endif %}
</div>

{% if data %}
<div class="container-sm attendance">
    <form action="" method="POST">
        {{ aform.hidden_tag() }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for student in range(data|length) %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <a style="color: #8a1c7c;"
                            href="{{url_for('get_details', roll_num = data[student].student_id)}}">
                            {{data[student].student_id}}
                        </a>
                    </td>
                    <td>{{ data[student].first_name + " " + data[student].last_name }}</td>
                    {% for field in aform if field.name != 'csrf_token' and field.name != "submit" and field.name !=
                    'confirm' %}
                    {% if loop.index0 == student %}
                    <td>
                        {{ field(class = "form-check-input col", type = "checkbox") }}
                        {{ field.label(class = "form-label col") }}
                    </td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-auto mt-5">
                    {{ aform.confirm(class = "form-check-input") }}
                </div>
                <div class="col-auto mt-5">
                    {{ aform.confirm.label(class = "form-label", style = "color:#DA4167; font-weight: 800") }}
                </div>
                <div class="col-auto mt-5">
                    {{ aform.submit(class = "btn add-btn mb-5") }}
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}

</body>

<script>
    $(function () {
        $("#datepicker").datepicker({
            format: "d-m-yyyy",
            autoclose: true,
            todayHighlight: true,
        }).datepicker('update', new Date());
    });
</script>

</html>